{% extends 'base.html.twig' %}

{% block title %}- Mentions Légales{% endblock %}

{% block body %}
<div class="blocpadding"></div>
<h1 class='text-center p-3 '> Mentions Légales  </h1>
{% endblock %}
