{% extends 'base.html.twig' %}

{% block title %}- Mentions Légales{% endblock %}

{% block body %}
<div class="blocpadding"></div>
	<div class="container mt-5">
		<div class="row">
            {{mentionLegale | raw}}
        </div>
    </div>
</div>
{% endblock %}
