{% extends 'base.html.twig' %}

{% block title %}- Erreur enregistrement{% endblock %}

{% block body %}
<div class="blocpadding"></div>
<h1 class='text-center p-3 '> Erreur lors de l'enregistrement </h1>
METTRE LES INFOS DE L'UTILISATEUR LUI EXPLIQUANT L'ERREUR ET LES SOLUTIONS.
{% endblock %}
