{% extends 'base.html.twig' %}

{% block title %}- Erreur enregistrement
{% endblock %}

{% block stylesheets %}

	<style>
		body {
			min-height: 85vh;
			position: relative;

		}
		footer {
			position: absolute;
			bottom: 0; /* on le colle en bas */
			height: 100px; /* Hauteur du pied de page */
		}
	</style>
{% endblock %}
{% block body  %}

	<div class="blocpadding"></div>
	<h1 class='text-center p-3 text-style text-warning mt-5'>
		Erreur lors de l'enregistrement
	</h1>
	<div class="container text-center mt-5">

		<p class='fs-5'>Bonjour,</p>
		
		<p>
			{% if infoUser.sexe == 'M' %}
				Monsieur
			{% else %}
				Madame
			{% endif %}
			{{ infoUser.nom |capitalize }}
			{{ infoUser.prenom |capitalize}},</p>

		{{content | raw}}
	</p>

	<a class="btn btn-outline-warning" href="{{ path ('app_register')}}">Retourner à l'enregistrement</a>
</div>{% endblock %}
