.bgBlog{
    background-image: url('../img/bgBlog.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bg{
    background: linear-gradient(to right, #ffa75159, #ffe259); 
    padding: 20px;
    font-family: 'Oswald', sans-serif; 

 }

.container h1{
    font-size: 15vmin;
    font-weight: bold;
    letter-spacing: 7px;
}

.container h2{
    font-size: 8vmin; 
    font-weight: bold;
    color: white;
}

button{
   margin-left: 10px;

}

.letter{
    letter-spacing: 0.5rem;
    font-family: 'Oswald', sans-serif; 
}

