.bgCoaching{
    height: 80vh;
    background-image: url('../img/bgCoaching.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .bg{
    background: linear-gradient(to right, #ffa75159, #ffe259); 
    padding: 20px;
    font-family: 'Oswald', sans-serif; 
    
 }
.container h1{
    font-size: 15vmin;
    font-weight: bold;
    letter-spacing: 7px;
}

.container h2{
    font-size: 8vmin; 
    font-weight: bold;
    color: white;
}

button{
   margin-left: 10px;
}


.text-family{
    font-family: 'Oswald', sans-serif;
}

