
/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Oswald&family=Permanent+Marker&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    font-family: 'Roboto' , sans-serif;
    
   
}

svg{
    margin: 0;
    padding: 0;
}

.text-family{
    font-family: 'Oswald', sans-serif;
}

.alert{
    z-index: 999;
}

/* NAVBAR */

.logoIF{
    margin: 0;
    padding: 0;
    width: 70px;
    border-radius: 2px;    
}

.navbar{
    margin: 0 2px;
    height: auto;
    width: 99vw;
    position:fixed;   
    z-index:999;
    border-radius: 0 10px 10px 0 ;   
    opacity: 0.8;
}

.active{
    color: #f5cb55 !important;
    text-decoration: underline ;
}

.nav-link:hover{
    color: #f5cb55 !important;
    text-decoration: underline ;
   
}


.navbar li a{
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;   
    
}

.navbar li a:hover{
    color: #ffc107;
}
.navbar-toggler{
    font-size: 0.8rem;
}

.navbar-toggler-icon, .navbar-toggler{
    background-color:white;
    
}

.planning{
    cursor: pointer;
}

/* TRANSITION */
.transition{
    margin: 0 auto;
    width: 90%;    
    border-top: 2px solid #f5cb55;
}

  /* FOOTER */

  .footer{
    width: 100vw;
  }
  #map { 
    height: 400px;
    width: 400px;
}

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    transform:translateY(100px) !important;
}

.reveal-loaded [class*="reveal-"]{
   
    transition: 1.5s cubic-bezier(.5,0,0,1);
}

.reveal-loaded .reveal-1{
    transition-delay: .1s;
}
.reveal-loaded .reveal-2 {
    transition-delay: .2s;
}

.reveal-loaded .reveal-3 {
    transition-delay: .3s;
}