/* ACTIVITE */
.bgActivite{
    background-image: url(../img/transitionCollectif.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    margin: 0;
}

.activity{
    cursor: pointer;    
    color: rgb(39,209,243)
}

