<p class='display-2'>Bonjour {{ prenom |capitalize}} ,<p>

<p> suite à votre demande,  veuillez cliquer sur ce <a href="{{Urltoken | raw }}">lien</a> pour réinitiliser votre mot de passe. </p> 

<p> Bien cordialement,</p>

<p>L'équipe.</p>

