<p class='display-2'>Bonjour,<p>

<p>{{sexe }} {{nom |capitalize }} {{ prenom |capitalize}}.</p> 

<p>Votre abonnement a été prise en compte ce jour. Vous avez payer pour 1 mois. A la fin de ce mois, il faudra renouveller votre abonnement directement en centre.</p>

<p>Présentez vous à l'accueil avec ce mail pour que nous puissions vous enregistrer et commencer à créer votre programme personnalisé</p>

<p>Bonne Journée et à bientot</p>

<p> L'équipe IronFitness </p>
