<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			IronFitness
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     	integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     	crossorigin=""/>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ('assets/css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset ('assets/css/style.css')}}">
		{% endblock %}

		{% block javascripts %}
		
		<script src="{{asset ('assets/js/bootstrap.min.js')}}"></script>
		<script src="{{asset ('assets/js/app.js')}}" defer></script>
		<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     	integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     	crossorigin=""></script>
		
		{% endblock %}
	</head>
	<body>
		{% include "_partials/_navbar.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html>
